<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seed.project.mapper.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.seed.project.entity.Score">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="teacher" jdbcType="VARCHAR" property="teacher" />
  </resultMap>
</mapper>